<!-- author Joe Tan -->
<!DOCTYPE html>
<html>
  <head>
    <title>NEOSA</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/index_bootstrap.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </head>
  <body>
    <div>
      <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/map">Map</a></li>
        <li><a href="/calendar">Calendar</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="container-outer">
      <div class="container-inner">
        <h1>About Hey Ü</h1>
        <!-- <img id="logo" src="HeyU.jpg"> -->
        <h2>Hey Ü is an app that lets you and your friends/classmates study more efficiently. Instead of wondering when your friends are done with classes or if they are busy, let Hey Ü find the most convenient time for both of you to study together. Never deal with the hassle of constantly finding a study session with your friends ever again.

        All you have to do is create an account and import your schedule from Google Calendar. Then, you can instantly find nearby friends to start studying with.</h2>
      </div>
    </div>
  </body>
</html>
