<!-- author Joe Tan -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hey Ü</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bootstrap/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="bootstrap/css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="bootstrap/css/creative.css" type="text/css">
</head>
<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Welcome</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- <li>
                    <a class="page-scroll" href="/profile">Profile</a>
                </li> -->
                <li>
                    <a class="page-scroll" href="/profile">Profile</a>
                </li>
                <li>
                    <a class="page-scroll" href="/schedule">Schedule</a>
                </li>
                <li>
                    <a class="page-scroll" href="/map">Map</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li>
                  <a class="page-scroll" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
  <header>
      <div class="header-content">
          <div class="header-content-inner">
              <h1>Hey {{current_user}}</h1>
              <hr>
              <p>Find Your Friends</p>
              <a href="/map" class="btn btn-primary btn-xl page-scroll">Explore</a>
          </div>
      </div>
  </header>
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Our Story</h2>
                    <hr class="light">
                    <p class="text-faded">Hey Ü is an app that lets you and your friends/classmates study more efficiently. Instead of wondering when your friends are done with classes or if they are busy, let Hey Ü find the most convenient time for both of you to study together. Never deal with the hassle of constantly finding a study session with your friends ever again.

                      All you have to do is create an account and set your schedule. Then, you can instantly find nearby friends to start studying with.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 class="section-heading">Meet Our Creators</h2>
                      <p></p>
                      <hr class="primary">
    </section>
<section class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="bootstrap/img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category1
                            </div>
                            <div class="project-name">
                                Joe
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="bootstrap/img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category2
                            </div>
                            <div class="project-name">
                                Nathan
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="bootstrap/img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category3
                            </div>
                            <div class="project-name">
                                Vik
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="bootstrap/img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category4
                            </div>
                            <div class="project-name">
                                Jewel
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="bootstrap/img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category5
                            </div>
                            <div class="project-name">
                                Jon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="bootstrap/img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category6
                            </div>
                            <div class="project-name">
                                Thomas
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Got a question? Just want to stop and say hi? Just shoot us an email!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>(708)-244-9032</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:ztan19@illinois.edu">ztan19@illinois.edu</a></p>
                </div>
            </div>
        </div>
    </section>
    <script src="bootstrap/js/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/jquery.easing.min.js"></script>
    <script src="bootstrap/js/jquery.fittext.js"></script>
    <script src="bootstrap/js/wow.min.js"></script>
    <script src="bootstrap/js/creative.js"></script>
</body>
</html>
