<!-- author Joe Tan -->
<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?keyAIzaSyAB6DLyolHXse5MgXizQzyd4JxGeKUk14U&callback"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="scripts/map.js"></script>
    <script src="bootstrap/js/jquery.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bootstrap/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="bootstrap/css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="bootstrap/css/creative.css" type="text/css">
    <link href="stylesheets/map.css" type="text/css" rel="stylesheet"></link>
  </head>
  <body>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
              <a class="page-scroll" href="/">Home</a>
          </li>
          <li>
              <a class="page-scroll" href="/profilepage69">Profile</a>
          </li>
          <li>
              <a class="page-scroll" href="/schedule">Schedule</a>
          </li>
          <li>
            <a class="page-scroll" href="/logout">Logout</a>
          </li>
        </ul>
    </div>
    <div id="map"></div>
    </div>
    <section id="portfolio">
          <div class="container">
              <div class="row" id="portfolioRow">
                  <div class="col-lg-12 text-center" id="friendsHeader">
                      <h2 class="section-heading" id="friendsHeader2">Your Nearby Friends</h2>
                      <p></p>
                      <hr class="primary">
                      <ul class="friendsList" >
                          <!-- <li>Thomas</li>
                          <li>Joe</li>
                          <li>Nathan</li>
                          <li>Vikrant</li>
                          <li>Jewel</li>
                          <li>Kevin</li>
                          <li>Jacob</li>
                          <li>Rob</li>
                          <li>Robert</li>
                          <li>Kristy</li>
                          <li>John</li>
                          <li>Winnie</li> -->
                      </ul>
                  </div>
                  <div id="messagesParent">
                    <ul id="messages"></ul>
                    <form action="">
                      <input id="m" autocomplete="off"/><button>Send</button>
                    </form>
                  </div>
              </div>
          </div>
    </section>

    <script src="bootstrap/js/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/jquery.easing.min.js"></script>
    <script src="bootstrap/js/jquery.fittext.js"></script>
    <script src="bootstrap/js/wow.min.js"></script>
    <script src="bootstrap/js/creative.js"></script>
  </body>
</html>
