<!DOCTYPE html>
<htmL>
  <head>
    <title>NEOSA</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/index_bootstrap.css">
    <link rel="stylesheet" href="stylesheets/index.css">
  </head>
  <body>
    <div>
      <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/map">Map</a></li>
        <li><a href="/calendar">Calendar</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

    <div class="container-outer">
      <div class="container-inner">
        <h1>Hey ü</h1>
        <!-- <img id="logo" src="HeyU.jpg"> -->
        <h2>Sign Up.</h2>
      </div>
    </div>

    <div class="textbox">
      <form>
        <input type="text" name="firstName" placeholder="First Name"><br>
        <input type="text" name="lastName" placeholder="Last Name"><br>
        <input type="text" name="email" placeholder="Email Address"><br>
        <input type="text" name="username" placeholder="Username"><br>
        <input type="text" name="password" placeholder="Password"><br>
      </form>
      <button type="button">Done</button>
    </div>
  </body>
</html>
