

<html>
<link rel="stylesheet" href="stylesheets/userPage.css">
<body bgcolor="#FF7F50 ">
  <img src="wrongname.gif" alt="HTML5 Icon" style="width:128px;height:128px;">

  <table border="1" style="width:50%">
    <tr>
    <th>Friends</th>
    <th>Availibility</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Busy (in class)</td>
    <td>NOYES</td>
  </tr>
  <tr>
    <td>Tom</td>
    <td>Available</td>
    <td>Music Building</td>
  </tr>
</table>
</br>
<center> insert calendar here </center>
<center>
<button type="button" onclick="alert('You sure want find a buddy!')">Find Me A Buddy!</button>
<button type="button" onclick="alert('You sure you want to find my friends!')">Find My Friends</button>
</center>
</body>
</html>
