/*author Joe Tan*/
html, body { height: 100%; margin: 0; padding: 0; }
#map { height: 100%; width: 75%; float: left; margin-right:;}
#portfolio{float: right; width: 25%; height: 100%;}
#portfolioRow{width: auto;}
#friendsHeader{width: auto; text-align: center;}
#friendsHeader2{margin-top: -75px;}
.friendsList{text-align: center; list-style-type:none; }
li{}
