* {
  box-sizing: border-box;

}

.chat_container {
  width: 400px;
  height: 500px;
  border: 2px solid #ddd;

}

.chat_container > .chat_header {
  width: 100%;
  background: white;
  padding: 5px;
  border-bottom: 1px solid #ddd;

}

.chat_container > .chat_header h3 {
  margin: 0;
  padding: 0;
  font-weight:  400;
  color: #333;
}

.chat_container > .chat_messages {
  height: 420px;
  border-bottom: 1px solid #ddd;
  overflow: scroll;
}

.chat_container > .chat_bottom form input [type="submit"] {
  padding: 6px;
  background: white;
  border: 1px solid #ddd;
  cursor: pointer;
}

.chat_container > .chat_bottom form input[type="text"] {
  width: 85%;
  padding: 3px;
  padding-left: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin 5px;
  height: 30px;
}

.cm {
  list-style: none;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}
